@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size:40px;
    margin-left:2rem;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition : margin-left 0.8s
}
#menu{
    margin-right:2rem;
    cursor: pointer;
    fill : #111;
}
#menu:hover, li:hover{
    opacity:0.8;
}
/* .container{

} */
#navigation-menu{
    flex-direction: column;
    align-items: center;
    padding-top:1rem;
    font-size:32px;
    color:white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    animation-duration: 0.8s; 
}

#close{
    padding-left: 75%;
    padding-bottom:2rem;
}
#close:hover {
    opacity:0.8;
}
#navigation-menu > li {
    cursor: pointer;
    padding-bottom:2rem;
    padding-top:2rem;
}